<div class="container">
  <div class="row" *ngIf="product">

    <div class="col-6" style="height: 500px; width: 500px;">
      <!-- <button routerLink="/shop/" style="margin: 25px; width: 100px;" class="btn btn-outline-success"> Back </button> -->



      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100">
    </div>
    <div class="col-6 mt-5" style="background-color:rgb(244, 244, 244); justify-content: center; margin-left: 150px;">
      <h2 style="font-weight: 800;">{{product.name}}</h2>
      <br>
      <br>

      <p style="font-size: 2em;"><strong>{{product.price | currency}}</strong></p>

      <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">
        <span style="color: red; font-size: 20px; font-weight: 500;">You have {{quantityInBasket}} of this item in your basket</span>
      </h5>


      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2"
          style="cursor: pointer; font-size: 2em;"></i>

        <span class="font-weight-bold" style="font-size: 1.5em;">

          <!-- <input type="number" [(ngModel)]='quantity' step="1" -->
          <!-- <input type="text" [(ngModel)]="quantity" -->
          <input type="number" [(ngModel)]='quantity'


            style="text-align: center; justify-content: center; width: 120px;" />
        </span>
        <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning ms-2"
          style="cursor: pointer; font-size: 2em;"></i>

        <dx-button text="Add to cart" stylingMode="outlined" type="default" icon="fa fa-shopping-cart"
         style="border-radius: 8%; margin-left: 15px; margin-right: 15px; width: 30%; height:40px;"
        (click)="updateBasket()" [disabled]="quantity === quantityInBasket">{{buttonText}}

        </dx-button>
      </div>

      <div class="row mt-4">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>
    </div>

  </div>


</div>
